@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #ffffff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    plant-select: none;
    overflow: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: auto 23rem;  /* If Sidebar enabled: 12rem auto 23rem */
}

main{
    margin-top: 1.4rem;
}

main .dashboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
}

main .dashboard > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .dashboard .state {
    background: linear-gradient(
        to bottom, 
        #93B8E3  0%,
        #6C9BCF  50%,
        #497BB2  100%
    );
    color: #edeffd;
}

main .dashboard > div:hover{
    transform: translateY(+4px);
}

main .dashboard > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

main .dashboard h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

main .dashboard .progresss{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .dashboard svg{
    width: 7rem;
    height: 7rem;
}

main .dashboard svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px); 
}

main .dashboard .temperature svg circle{
    stroke: var(--color-success);
    /* stroke-dashoffset: 10; */
    stroke-dasharray: 251.3;
}

main .dashboard .visits svg circle{
    stroke: var(--color-danger);
    /* stroke-dashoffset: -30; */
    stroke-dasharray: 251.3;
}

main .dashboard .searches svg circle{
    stroke: var(--color-primary);
    /* stroke-dashoffset: -30; */
    stroke-dasharray: 251.3;
}

.state .progresss .percentage span {
    font-size: 3rem; /* Altere para o tamanho desejado, ex: 2rem, 4rem */
}

main .dashboard .progresss .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

main .log{
    margin-top: 1.3rem;
}

main .log h2{
    margin-bottom: 0.8rem;
}

main .log table{
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

main .log table:hover{
    transform: translateY(+4px);
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border: none;
}

main .log a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

main .bottom-main-sections {
    display: grid;
    grid-template-columns: 1.5fr 0.8fr 1fr;
    gap: 1.6rem; /* Mantém o espaçamento entre as caixas */
    margin-top: 1.4rem; /* Espaço para separar do dashboard */
}

.new-section {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 2rem; /* Remove o margin-top, pois o pai já tem */
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.new-section:hover{
    transform: translateY(+4px);
}

.new-section h2 {
    margin-bottom: 1rem;
}

.bar-chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* As barras começam na base */
    height: 200px; /* Altura total do gráfico */
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 0 1rem;
}

.bar-chart .bar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%; /* Largura de cada coluna */
    height: 100%;
    position: relative;
    justify-content: flex-end;
}

.bar-chart .label {
    font-size: 0.75rem;
    color: var(--color-dark-variant);
    /* margin-top: 0.5rem;         */
    bottom: 0rem; 
    position: absolute;
    bottom: -2rem; /* Posiciona a legenda abaixo da linha */
}

.bar-chart .bar {
    width: 50%;
    background-color: var(--color-primary); /* Cor das barras */
    transition: all 0.5s ease; /* Animação suave */
    border-radius: 50px;
}

.bar-chart .bar.today{
    background-color: #1B9C85;
}

.bar-chart .bar.tomorrow{
    background-color: var(--color-background);
}

.bar-chart .bar:hover {
    opacity: 0.6;
}

.time-tracker {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; Centraliza o conteúdo
    text-align: center; */

    text-align: left; 


    transition: all 0.3s ease;
}

.time-tracker:hover {
    transform: translateY(+4px);
}

.time-tracker h2 {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: var(--color-dark);
}

.time-tracker .tracker-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1.5rem 0; /* Espaçamento vertical */
    flex-grow: 1; /* Permite que o timer ocupe o espaço restante */
}

.time-tracker .tracker-timer .value {
    font-size: 5rem; /* Tamanho grande para o número */
    font-weight: 700;
    line-height: 1;
    margin-top: 2rem;
}

.time-tracker .tracker-timer p {
    font-size: 1rem;
    color: var(--color-dark);
}

.small .material-icons-sharp {
    margin: 10px;
    font-size: 30px; /* Altere para o tamanho desejado */
    transition: all 0.3s ease;
}

.small .material-icons-sharp:hover {
    margin: 10px;
    font-size: 30px; /* Altere para o tamanho desejado */
    cursor: pointer;
    transform: translateY(+4px);
}

.replay{
    color: var(--color-danger)
}

.notes-box {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    resize: none;
}

.notes-box:hover{
    transform: translateY(+4px);
}

.notes-box h2 {
    margin-bottom: 1rem;
    color: var(--color-"primary");
}

.notes-box textarea {
    width: 100%;
    /* height: 200px; */
    flex-grow: 1;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    border-radius: var(--border-radius-1);
    resize: none;
    background-color: var(--color-background);
    color: var(--color-dark);
    border: 1px solid var(--color-light);
}

.right-section{
    margin-top: 1.4rem;
}

.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-section .nav button{
    display: none;
}

.right-section .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-section .dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .dark-mode span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right-section .nav .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right-section .nav .profile .profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.right-section .plant-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    width: max-content; 
}

.plant-info{
   max-width: 80%;  /* Impede o texto de ultrapassar a largura */
    margin: 0 auto;  /* Garante que o texto fique centralizado */
    word-wrap: break-word;  /* Quebra palavras longa */
}

.right-section .plant-profile p {
    max-width: 100%; 
    margin-left: auto;
    margin-right: auto;
}

.right-section .plant-profile:hover{
    transform: translateY(+4px);
}

.right-section .plant-profile img{
    width: 11rem;
    height: auto;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

.right-section .plant-profile h2{
    margin-bottom: 0.2rem;
}

.right-section .buttons{
    margin-top: 2rem;
    padding: 20px;  
    border-radius: var(--card-border-radius);
    background-color: var(--color-white);
}

.right-section .buttons .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.right-section .buttons .header span{
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 50%;
}

.right-section .buttons .button{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding-top: var(--card-padding);
    border-radius: var(--border-radius-2);
    transition: all 0.3s ease;
}


.right-section .buttons .button .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}


/* ICONES DOS BOTOES */
.right-section .buttons .button .icon{
    padding: 0.6rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .buttons .button.porta .icon{
    border: 2px dashed var(--color-dark);
    background-color: var(--color-white);
    color: var(--color-dark);
}

.right-section .buttons .button:not(.porta) .icon:hover{
    transform: translateY(+4px);
    opacity: 0.8;
}

.right-section .buttons .button.deactive .icon{
    background-color: var(--color-danger);
}

.right-section .buttons .new{
    background-color: var(--color-white);
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right-section .buttons .new:hover{
    background-color: var(--color-primary);
    color: white;
}

.right-section .buttons .new div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

@media screen and (max-width: 1200px) {
    .container{
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    main .dashboard{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .plants .plant-list .plant{
        flex-basis: 40%;
    }

    main .log {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }

    main .log table{
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child{
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    @keyframes showMenu {
       to{
        left: 0;
       } 
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .plants .plant-list .plant{
        flex-basis: 35%;
    }

    main .log{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .log table{
        width: 100%;
        margin: 0;
    }

    .right-section{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right-section .nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        margin: 0;
    }

    .right-section .nav .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right-section .profile .info{
        display: none;
    }

    .right-section .nav button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right-section .nav button span{
        font-size: 2rem;
    }

}